html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
  font-family:myFont,Arial, Helvetica, sans-serif
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
@font-face {
    font-family: myFont;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: myFontII;
  src: url(../fonts/Pacifico-Regular.ttf);
}
.top-section{
  width:96%;
  background: #6b240e;
  padding: 1% 2%;
}
.top-section a{
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
  font-family: myFontII,'Courier New', Courier, monospace;
}
.container {
  width: 30%;
  margin:2% auto 0;
  box-shadow: 1px 1px 5px grey;
  padding: 3%;
 }
 .container h3{
   font-size: 3rem;
   font-weight: bold;
   text-align: center;
   margin-bottom: 2%;
 }
 .container span{
  font-size: 0.8rem;
 }
 .container span a{
  font-size: 0.8rem;
  margin: 0 auto;
  text-decoration: none;
  color: #6b240e;
}
 
/* Full-width inputs */
input[type=email], input[type=password],input[type=text], input[type=number],select,input[type=date] {
  width: 100%;
  padding: 4% 5%;
  margin: 5% 0;
  display: inline-block;
  border: 0.3% solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 4% 5%;
  margin: 5% 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

footer{
  bottom: 0;
  position: fixed;
  width: 96%;
  background: #f9f9f9;
  padding: 1.5% 2%;
}
footer p{
  float: right;
  font-size: 0.8rem;
}
footer a{
  text-decoration: none;
  color:#6b240e;
  font-weight: bold;
}
.wrapper {
  width: 80%;
  margin:2% auto 0;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  box-shadow: 1px 1px 5px grey;
  padding: 1% 3%;
  height: auto;
 }
 .order_list{
   flex: 2;
 }
 .amount_made h4{
   font-weight: bold;
   font-size: 2rem;
 }
 .col-left{
   flex-basis: 70%;
   height: auto;
 }
 .col-left h3{
   font-size: 2rem;
   margin-bottom: 2%;
 }
.col-right{
  margin-top: 2%;
  flex-basis: 25%;
}
.col-right span{
  font-size: 0.8rem;
}
.food_wrapper{
  display: flex;
  flex-direction: row;
  box-shadow: 1px 1px 5px grey;
  box-sizing: border-box;
  margin-bottom: 2%;
}
.food_img{
  flex-basis: 15%;
}
.food_img img{
    width: inherit;
    height: 100px;    
}
.food_desc{
  flex-basis: 50%;
}
.food_action{
  flex-basis: 30%;
}
.food_desc h4{
  font-size: 1.5rem;
  font-weight: bold;
}
.food_action button{
  float: left;
  margin-left: 1%;
  padding: 2% 1%;
  font-size: 1rem;
}
.edit{
  background: #f9f9f9;
  color: #000000;
}
.delete{
  background: #ca0f0f;
}