@font-face {
    font-family: myFont;
    src: url(../fonts/OpenSans-Regular.ttf);
}
*{
    box-sizing: border-box;
}
body{
	background-color: #f7f7f7;
	margin: 0;
	padding: 0;
	font-family: myFont;
	font-size: 0.8rem;
}
header{
	display: flex;
	justify-content: center;
	background: linear-gradient(#219b06, #3ab51e);
	background-color: #7eed53;
	color: #ffffff;
}
#wrapper{
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: 71%;
	align-content: space-between;
	padding:2%;
	align-items: baseline;
  }
  .col-1{
  	width:8.33%;
  }
  .col-2{
	width: 16.66%;
  }
  .col-3{
  	width:24.99%;
  }
  .col-4{
  	width: 31.32%;
  	padding: 0 1%;
  }
  .col-5{
  	width: 41.65%;
  }
  .col-6{
  	width:49.98%;
  }
  .col-7{
  	width:56.31%;
  	padding:0% 1%;
  }
  .col-8{
  	width:66.64%;
  }
  .col-9{
  	width:74.97%;
  }
  .col-10{
  	width:83.3%;
  }
  .col-11{
  	width: 91.63%;
  }
  section{
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  input[type=text],input[type=email],input[type=password] {
    width: 100%;
    padding: 3% 4%;
    border: 1px solid #cfd2d6;
    border-radius: 3px;
    box-sizing: border-box;
}
input[type=text],input[type=email],input[type=password]:focus{
	outline: none;   
}
.form-break{
  	display: flex;
  	flex-direction: column;
  	margin:4% 0;
  }
 label{
  	margin-bottom: 0.5rem;
  }
  button{
  	padding: 0.5rem 2rem;
  	font-weight: bold;
  	background: #b5a31e;
  	border: 1px solid #99891a;
  	border-radius: 2px;
  	outline: none;
  }
  .delete{
  	background: #ce0000;
  	color:#ffffff;
  	border: 1px solid #ce0000;#006ace
  }
  .edit{
  	background: #006ace;
  	color:#ffffff;
  	border: 1px solid #006ace;
  }
  .unstyled{
  	list-style-type: none;
  	margin: 0;
  	padding:0;
  }
  .unstyled li{
  	border-bottom: 1px solid #d3d3d3;
  	padding: 0.7rem;
  }
  table{
  	width: 100%;
  }

  .table-extra{
  	margin-bottom: 2rem 0;
  }  